.container-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 49rem;
}

.container-items{
    display: flex;
    width: 64%;
    align-items: center;
    justify-content: space-evenly;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(233.16deg, #00afce50 -10.31%, rgba(0, 175, 206, 0.021) 110.31%);
    width: 216.49px;
    height: 206px;
    border-radius: 30px;
    cursor: pointer;
}

.item.active{
    background-image: linear-gradient(233.16deg, #00B0CE -10.31%, rgba(0, 176, 206, 0.3) 110.31%);
}

.btn{
    width: 113px;
    height: 107.53px;
    background: linear-gradient(233.16deg, #00B0CE -47.28%, rgba(0, 176, 206, 0.3) 73.34%);
    mix-blend-mode: normal;
    border-radius: 200px;
    border: none;
    cursor: pointer;
}